alias kpwp='ssh ssh-216511-admin@unternehmen.kaeuferportal.de'
alias be='bundle exec'
alias flushdns='dscacheutil -flushcache'
alias gotest="$GOPATH/bin/goconvey -cover=true"
alias migrate5="be rake db:migrate && bin/rails db:environment:set RAILS_ENV=test db:drop db:create db:migrate parallel:prepare && RAILS_ENV=test wrapper_open='rubocop:disable Metrics/LineLength' wrapper_close='rubocop:enable Metrics/LineLength' bundle exec annotate -is --sort -f rdoc --force"
alias annotate="be annotate -f rdoc --force"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias ls='ls -G'
alias brewupdate='brew update && brew upgrade --all && brew upgrade brew-cask; brew cleanup; brew cask cleanup; brew doctor'
alias ip='curl https://api.ipify.org; echo'
alias opened-files="sudo lsof -n | cut -f1 -d' ' | uniq -c | sort | tail"
# alias cat="ccat"
