alias kpwp='ssh ssh-216511-admin@unternehmen.kaeuferportal.de'
alias be='bundle exec'
alias flushdns='dscacheutil -flushcache'
alias composer="php54 /usr/bin/composer.phar"
alias rubocop="bundle exec rubocop"
alias composer="php /usr/bin/composer.phar"
alias gotest="$GOPATH/bin/goconvey -cover=true"
alias cms="cd ~/code/kaeuferportal/cms"
alias frontend="cd ~/code/kaeuferportal/frontend"
alias backend="cd ~/code/kaeuferportal/backend"
alias goprojects="cd ~/code/go/src/codevault.io/go_projects"
alias godeployment="cd ~/code/kaeuferportal/go-deployment/"
alias fastcap="cap cached_assets=true"
alias spec="be rspec spec --format Fuubar --color spec"
alias pspec="be rake parallel:spec"
alias migrate="be rake db:migrate && RAILS_ENV=test be rake db:migrate"
alias annotate="be annotate -f rdoc --force"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
